.tiulo1 {
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 50px;
}

.titulo2 {
  font-family: 'Tagesschrift';
  border: 2px  blueviolet;
  background: transparent;
  color:blueviolet;
  font-size: 40px;

}

h1 {
  
  font-size: 28px;
}

h2 {
  font-family: 'Cascadia Mono';
  font-size: 20px;
}

body {
  margin: 0;
  display:grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("../public/assets/extras/01-bosque.jpg");
  background-size: 1500px;
  background-repeat: no-repeat;
  background-position: center;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  font-family: 'Tagesschrift';
  gap: 15px;
  padding: 5px 15px;
  border: 2px dotted blueviolet;
  border-radius: 8px;
  background-color: transparent;
  color: blueviolet;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: blueviolet;
  color: white;
}

.btn-play {
  flex-direction: column;
}

.btn-extra {
  flex-direction: row;
}

.btn-start {
  color: black;
  background: #f9f9f9a0;
  border: white;
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.more-options {
  text-align: center;
  display: block;
  position: fixed;       /* o absolute si quieres que se mueva con el contenido */
  width: 250px;
  height: 500px;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  color: white;
  background-color: transparent;
}
.btn-return {
  border: 2px dotted white;
  color: white;
}

.book {
  display: flex;
  width: 450px;
  height: 350px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background: #f9f9f9a0; 
}

.page {
  width: 50%;
  padding: 30px;
  font-family: 'Tagesschrift', serif;
  font-size: 18px;
}

.left {
  border-right: 1px solid #aaa; /* línea del "doblez" del libro */
}

.right {
  border-left: 1px solid #aaa;
}

